if SHIELD_bwwjj40_LEFT

config ZMK_KEYBOARD_NAME
    default "bwwjj40"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_bwwjj40_LEFT || SHIELD_bwwjj40_RIGHT

config ZMK_SPLIT
    default y

endif